@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: darkgreen;
    
}
html{
    font-family: 'Noto Sans JP', sans-serif;
}
.quiz-section{
    border: 1px solid burlywood;
    background-color: rgb(6, 39, 6);
    border-radius: 12px;
    padding: 5px;
    background-image: image();
}
ul{
    padding: 0;
    list-style: none;
}
h1{
    text-align: center;
    color: green;
    font-weight: bold
}
 .container-subject p{
    text-align: center;
    color: darkgrey;

}
li{
    text-align: center;
    color: #fff;
    border: 1px solid burlywood;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
}
.question-container{
    display: none;
}
.question-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.question-header{
    color: goldenrod;
}
.btns{
    color: burlywood;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.btns h5{
    cursor: pointer;
}
.show{
    display: block;
}
