@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: darkgreen;
}
html {
  font-family: "Noto Sans JP", sans-serif;
}
.quiz-section {
  border: 1px solid burlywood;
  background-color: rgb(6, 39, 6);
  border-radius: 12px;
  padding: 5px;
  background-image: image();
}
ul {
  padding: 0;
  list-style: none;
}
h1 {
  text-align: center;
  color: green;
  font-weight: bold;
}
.container-subject p {
  text-align: center;
  color: darkgrey;
}
li {
  text-align: center;
  color: #fff;
  border: 1px solid burlywood;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
}
.container-subject {
  display: none;
}
.question-container {
  display: none;
}
.question {
  display: none;
}
.question-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question-header {
  color: goldenrod;
}
.btns {
  color: burlywood;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}
.btns h5 {
  cursor: pointer;
  border: 1px solid white;

  border-radius: 10px;
  padding: 5px;
}

.quit-btn:hover {
  background-color: red;
  color: black;
}
.next-btn:hover {
  background-color: green;
  color: black;
}
.show {
  display: block;
}
.question {
  color: goldenrod;
}

#won {
  width: 100px;
  height: 100px;
}
.final {
  display: none;
}
.passed {
  display:none;
}
.retake {
  display: none;
}
.decision {
  display: none;
}
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#lost {
  width: 100px;
  height: 100px;
}
.comment1 {
  color: greenyellow;
}
.comment2 {
  color: red;
}
.next-subj {
  color: burlywood;
  background-color: transparent;
  border: 1px solid burlywood;
  border-radius: 12px;
  padding: 6px;
  cursor: pointer;
}
.yes-btn {
  color: burlywood;
  background-color: transparent;
  border: 1px solid burlywood;
  border-radius: 12px;
  padding: 6px;
  cursor: pointer;
}
.no-btn {
  color: burlywood;
  background-color: transparent;
  border: 1px solid burlywood;
  border-radius: 12px;
  padding: 6px;
  cursor: pointer;
}

.decision-btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.final-score {
  color: #fff;
}
